
/*google-Fonts*/

@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

@font-face {
	font-family: siyam;
	src: url('../webfonts/siyam_rupali.ttf');
  }

  @font-face {
	font-family: motion;
	src: url('../webfonts/motion.ttf');
  }

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body {
	font-size: 1.6rem;
	font-family: "Source Sans Pro", sans-serif;
	color: #aebcb9;
}
#particles-js{
background-image: url('../img/h1.png');
background-size: cover;
background-position:center;
}
#particles-js h1 a{		
	position: absolute;
	color:#fff;
	text-transform: capitalize;
	font-size: 55px;
	font-weight: bold;	
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	}	

.ityped{
	position: absolute;
	font-size:30px;
	color:#D4133A;
	
}

html,body{
	height:100%;
}
a{
	text-decoration:none;
	transition:.3s;
}
ul{
	list-style:none;
}
img{
	max-width:100%;
	vertical-align:middle;
}

/* common code */
.pt-80{
	padding-top:80px;
}
.pb-80{
	padding-bottom:80px;
}
.pt-120{
	padding-top:120px;
}
.pb-120{
	padding-bottom:120px;
}
.pb-40{
	padding-bottom: 40px
}
.pt-40{
	padding-top: 40px
}
.text-right{
	text-align:right;
}
.text-center{
	text-align:center;
}
.bg-cover{
	background-position:center;
	background-size:cover;
	position:relative;
	z-index:2;
	
}
.box-btn {
	background-color: #D4133A;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 15px;
	border-radius: 5px;
	color: white;
	display: inline-block;
	transition: .6s;
	font-weight: 600;
}
.box-btn:hover, .btn a:hover {
	background-color: white;
	color: black;
	transition: .6s;
}
.container-fluid{
	width:100%;
	padding:0 15px;
}
.container{
	width:1170px;
	margin:0 auto;
}

/* header css */

.menu ul {
  list-style: none;
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
	display: block;
	font-size: 18px;
	padding: 10px 17px;
	font-weight: 700;
	color: #fff;
	position: relative;
	text-transform: capitalize;
}
.home-content i {
	color: #fff;
	font-size: 20px;
	padding: 4px;
}
.header-area {
  padding: 20px 0;
}
.header-fixed {
	position: fixed;
	z-index: 99;
	left: 0;
	right: 0;
}
.btn a {
	display: inline-block;
	text-transform: capitalize;
	color: #fff;
	border: 1px solid #fff;
	padding: 15px 36px;
	font-size: 18px;
}

.home-area { 
  position: relative;
}
.home-area:before {
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 0; 
  opacity: 0.5;
  z-index: -1;
}


.home-content h4 {
  font-size: 48px;
  font-family: 'Artysignature';
  color: #fff;
  margin-bottom: 0;
}
.home-content h1 {
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 10px;
}
.home-content {
	padding: 250px 0;
}
.home-content a {
	color: #fff;
}
.home-content a:hover {
	color: #D4133A;
}
/*about-bio css */
.about-bio-area {
	background: #F8F8F8;
}
.about-bio p {
  font-size: 35px;
  color: #141f4e;
  font-weight: 400;
  line-height: 50px;
  margin-top: 20px;
}

/* about css */
.about-area-two {
	background: #F0F8F9;
}
.about-text h4 {
  line-height: 1;
  margin-bottom: 18px;
  font-size: 26px;
  font-weight: 400;
  color: #333;
}
.about-text h4 span {
  color: #D4133A;
}
.about-text p {
  font-size: 16px;
  font-weight: 400;
  color: #717584;
}
.about-text p span {
	top: ;
	color: #D4133A;
	font-size: ;
	font-style: italic;
	text-decoration: underline;
}
.about-list ul li {
  margin: 0 0 5px 0;
  width: 45%;
  float: left;
  border-bottom: 1px dotted;
}
.about-list ul li label {
  font-size: 14px;
  color: #141F4E;
  font-weight: 700;
  font-family: "Nunito";
  display: inline-block;
  margin: 0;
  min-width: 85px;
}
.about-list ul li span {
  font-size: 15px;
  color: #717584;
}
.about-list a {
	margin-top: 20px;
	margin-right: 30px;
}

.about-left {
  position: relative;
}
.about-content {
	position: absolute;
	content: "";
	left: 40%;
	bottom: 28px;
	color: #fff;
	text-transform: capitalize;
}
.about-content a {
	color: #fff;
}

.about-left:before {
}
.about-left:before {
  position: absolute;
  content: "";
  height: 100%;
  background: rgba(248, 28, 71, 0.1);
  width: 100%;
  left: 20px;
  top: 24px;
  z-index: -1;
}
.about-left::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(248, 28, 71, 0.1);
  left: 30px;
  top: 40px;
  z-index: -4;
}

.about-list {
  margin-left: 20px;
}
.about-text {
  margin-left: 20px;
}


.about-skill h1 {
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 21px;
	color: #333;
	font-family: 'Nunito', sans-serif;
}
.about-skill p {
	font-size: 16px;
	color: #717584;
	font-weight: 400;
	line-height: 30px;
}
.about-skill a {
	color: #141F4E;
	font-size: 14px;
	border-bottom: 1px solid #141F4E;
	font-weight: 600;
}
.skill-title h4 {
	text-transform: capitalize;
	color: #717584;
	margin-bottom: 40px;
}
.skill-title h4 span{
	float: right;
	color: #D4133A;
	font-style: italic;
}
.skill-1 {
	width: 94%;
	border-bottom: 3px solid #D4133A;
}
.skill-2 {
	width: 84%;
	border-bottom: 3px solid #D4133A;
}
.skill-3 {
	width: 65%;
	border-bottom: 3px solid #D4133A;
}
.skill-4 {
	width: 55%;
	border-bottom: 3px solid #D4133A;
}

/* experience css */


.about-area-two {
  background: #F0F8F9;
}
.section-title h2 {
  font-size: 48px;
  font-weight: 700;
  color: #333;
  margin-bottom: 0;
  text-transform: capitalize;
}
.single-experience h2 {
  font-size: 18px;
  color: #333;
  font-weight: 700;
  margin-bottom: 0;
}
.single-experience h2 span {
  color: #BC9DA6;
}
.single-experience h5 {
  color: #D4133A;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
.single-experience p {
  font-size: 18px;
  font-weight: 400;
  margin: 16px 0;
 color:black;
}
.item-expe-edu .single-experience {
	float: none;
	width: 100%;
	padding: 30px;
	box-shadow: 0px 0px 20px #F0F8F9;
	border-radius: 5px;
	margin-bottom: 20px;
	 transition: .3s;
}
.item-expe-edu:hover .single-experience{
	border-left: 5px solid #D4133A; 
}

/* cta area */
.cta-area {
	background: #F0F8F9;
}
.cta-area a {
	margin-top: 25px;
} 

/* service area css */
.single-service {
	text-align: center;
	box-shadow: 0 0 10px rgba(248,28,71,.1);
	padding: 30px;
	margin-bottom: 25px;
	position: relative;
}
.single-service i {
	font-size: 60px;
	margin-bottom: 34px;
	margin-top: #fff;
}
.single-service h4 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
	color: #333;
}
.single-service p {
	font-size: 16px;
	color: black;
	font-weight: 700;
}

.single-service::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: #D4133A;
	top: 0%;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}
.single-service:hover:before{
	opacity: 1;
	visibility: visible;
	top: 0;
}

/* portfolio css */
.single-portfolio {
	text-align: center;
	box-shadow: 1 2 10px rgba(248,28,71,.1);
	padding: 30px;
	margin-bottom: 25px;
	position: relative;
}
.single-portfolio h6{
	color:black;
}
.single-portfolio{
	transition:transform .5s ease;
}
.single-portfolio:hover{
	transform: scale(1.1) rotate(5deg);
}
.single-portfolio  i {
	font-size: 60px;
	margin-bottom: 34px;
	margin-top: #fff;
}
.single-portfolio  h4 {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
	color: #333;
}
.single-portfolio  p {
	font-size: 16px;
	color: #717584;
	font-weight: 700;
}
.single-portfolio  h6:hover {	
	color: #fff;
}
.single-portfolio  p:hover {	
	color: #fff;
}
.single-portfolio ::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: #D4133A;
	top: 0%;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}
.single-portfolio :hover:before{
	opacity: 1;
	visibility: visible;
	top: 0;
}


/* counter css */

.single-counter i {
  font-size: 40px;
  display: block;
  color: #D4133A;
}
.single-counter {
	text-align: center;
	border-right: 1px solid #D4133A;
}
.single-counter label {
  color: #141F4E;
  display: block;
  margin-top: 10px;
  font-size: 40px;
  margin-bottom: -6px;
}
.single-counter span {
  text-transform: capitalize;
  font-size: 21px;
  color:#141F4E
}
.counter-area {
  background:#FCE4EC;
}

/* price css */
.price-area{
	background-color: #F8F8F8
}
.single-price {
	text-align: center;
	padding: 30px;
	background: #fff;
	position: relative;
	box-shadow: 1px 1px 10px #D4133A;
}
.price-name h1 {
  font-size: 25px;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.price-title h4 {
  font-size: 50px;
  font-weight: 900;
  color: #141f4e;
  margin: 30px 0;
}
.price-title h4 span {
  font-size: 24px;
  font-weight: 400;
  color: #717584;
}

.price-list ul li {
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 500;
	color: #141f4e;
	margin-bottom: 10px;
	line-height: 35px;
}
.single-price a {
	margin-top: 15px;
	margin-left: 33px;
}


.table-rm {
  position: absolute;
  font-size: 20px;
  text-transform: capitalize;
  background: #D4133A;
  transform: rotate(-90deg);
  left: -46px;
  top: 90px;
  color: #fff;
  padding: 4px 13px;
}
.table-rm:before {
  position: absolute;
  content: "";
  height: 0;
  width: 0;
  border-right: 0 solid transparent;
  border-left: 10px solid #fff;
  border-bottom: 20px solid transparent;
  border-top: 18px solid transparent;
  top: 0;
  left: 0;
}




/* blog css */

.single-blog {
  position: relative;
  overflow: hidden;
}
.blog-content {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top,#212529 0,rgba(19,19,19,-.12) 100%);
  text-align: left;
  padding: 10px 30px;
  color: #fff;
}
.blog-meta {
  margin-bottom: 10px;
}
.blog-meta ul li {
  display: inline-block;
  margin-right: 15px;
  font-size: 15px;
  text-transform: capitalize;
}
.blog-content a {
  transition: .3s;
  color: #fff;
}
.single-blog img{
	transition:transform .5s ease;
}
.single-blog:hover img{
	transform: scale(1.1) rotate(5deg);
}
.no-getter {
	padding-right: 0;
	padding-left: 0;
}

/* footer css */
.get-touch h1 {
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 900;
  color: #fff;
  margin-bottom: 40px;
}
.get-touch p {
  font-size: 25px;
  color: #fff;
  margin-bottom: 30px;
}

.get-touch a {
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-transform: capitalize;
}
.footer-copy {
  margin-top: 100px;
}
.footer-copy h4 {
  font-size: 25px;
  color: #fff;
}
.footer-copy p {
  font-size: 16px;
  color: #fff;
}
.footer-copy a {
	color: #fff;
  }
  .footer-copy a :hover{
	color: #D4133A;
  }
.slicknav_menu {
	display: none;
}
.slicknav_menu {
	background: #1E1E1E;
}



.header-fixed.sticky {
	background-color: white;
  }
  .header-fixed.sticky a {
	color: black;
  }
  .menu ul li.current a {
	color: #D4133A;
}
.single-box1 {
	background-color: #f2e9e9;
	color: #333;
	padding: 25px;
}
.box-area .owl-item.center .single-box1 {
	background-color: #1E1E1E;
	color: #fff;
	text-align: center;
}


.box-area .owl-dots button {
	background-color: #D4133A !important;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 10px;
	border-radius: 50%;
  }
  .box-area .owl-dots{
	text-align:center
  }
  .box-area .owl-dots button.active {
	background-color: teal !important;
  }
  .box-area .owl-dots {
	text-align: center;
  }


  .box-area .owl-nav button {
	background-color: #D4133A !important;
	width: 40px;
	height: 40px;
	line-height: 40px;
	left: -25px;
  }
  .box-area .owl-nav button i {
	color: #fff;
  }
  .box-area .owl-nav {
	top: 50%;
	transform: translateY(-50%);
	position:absolute;
  }

  .preloader {
	background-color: #1E1E1E;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	z-index: 999999;
	position: fixed;
}




/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
	.container{
		width:300px
	}
	.slicknav_menu {
		display: block;
	}
	.menu {
		display: none;
	}
	
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	
}